/*
   /\     /\      Justin Dela Cruz
  {  `---'  }     San Francisco, CA
  {  O   O  }
~~|~   V   ~|~~    < ~nyan~
   \  \|/  /
    `-----'__
    /     \  `^\_
   {       }\ |\_\_   W
   |  \_/  |/ /  \_\_( )
    \__/  /(_E     \__/
      (  /
       MM
*/
/* Global Styles */
/* line 19, ../sass/meow-meow.scss */
body {
  background-color: #fcffff;
}

/* line 23, ../sass/meow-meow.scss */
h1, h2, h3, h4, h5, h6, p, li {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-align: left;
  color: #333333;
}

/* line 30, ../sass/meow-meow.scss */
ul {
  margin: 0;
  padding: 0;
}
/* line 34, ../sass/meow-meow.scss */
ul li {
  list-style-type: none;
}

/* Specific Styles */
/* line 40, ../sass/meow-meow.scss */
.head {
  max-width: 100rem;
}
/* line 43, ../sass/meow-meow.scss */
.head .large-12 {
  padding: 0;
}
/* line 47, ../sass/meow-meow.scss */
.head img {
  margin-top: -150px;
}
/* line 51, ../sass/meow-meow.scss */
.head .bio {
  padding: 20px;
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
  z-index: 2;
}
/* line 60, ../sass/meow-meow.scss */
.head .bio h1, .head .bio h2 {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 0 10px;
  background-color: rgba(7, 7, 22, 0.9);
}
/* line 68, ../sass/meow-meow.scss */
.head .bio h1 {
  font-size: 48px;
  text-align: center;
  font-weight: 300;
}
/* line 75, ../sass/meow-meow.scss */
.head .bio h2 {
  font-size: 28px;
  font-weight: 100;
}
/* line 81, ../sass/meow-meow.scss */
.head .about {
  background-color: #000;
  max-width: 100rem;
}
/* line 85, ../sass/meow-meow.scss */
.head .about p {
  margin: 0 auto;
  max-width: 60rem;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  color: #ddd;
  font-weight: 300;
}

/* line 99, ../sass/meow-meow.scss */
.row.content p, .row.content li {
  font-size: 15px;
}
/* line 103, ../sass/meow-meow.scss */
.row.content h3 {
  text-align: center;
  font-size: 28px;
  padding: 0 10px;
  text-transform: uppercase;
  margin: 40px 0;
}
/* line 112, ../sass/meow-meow.scss */
.row.content h4 {
  font-size: 18px;
  font-weight: 600;
}
/* line 117, ../sass/meow-meow.scss */
.row.content h5 {
  font-size: 14px;
  text-transform: uppercase;
}
/* line 123, ../sass/meow-meow.scss */
.row.content a:link, .row.content a:visited {
  color: #333333;
}
/* line 127, ../sass/meow-meow.scss */
.row.content a:hover {
  text-decoration: underline;
}

/* line 141, ../sass/meow-meow.scss */
.professional-work {
  text-align: center;
  margin-bottom: 40px;
}
/* line 145, ../sass/meow-meow.scss */
.professional-work h4, .professional-work h5, .professional-work p {
  text-align: left;
}
/* line 149, ../sass/meow-meow.scss */
.professional-work > hr {
  margin: 40px 0;
}
/* line 153, ../sass/meow-meow.scss */
.professional-work .desktop-screenshot, .professional-work .mobile-screenshot {
  border: 1px solid #ddd;
}
/* line 157, ../sass/meow-meow.scss */
.professional-work .desktop-screenshot {
  float: left;
}
/* line 161, ../sass/meow-meow.scss */
.professional-work .mobile-screenshot {
  float: right;
}
/* line 165, ../sass/meow-meow.scss */
.professional-work ul.technologies {
  margin-left: 0;
}
/* line 167, ../sass/meow-meow.scss */
.professional-work ul.technologies li {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 13px;
  margin: 5px 5px 5px 0;
  padding: 3px;
}

/* line 179, ../sass/meow-meow.scss */
.footer {
  background-color: #000;
  background-image: url(../images/binding_dark.png);
  border-top: 1px solid #999999;
  padding-bottom: 40px;
}
/* line 180, ../sass/meow-meow.scss */
.footer .large-12 {
  padding: 0;
}
/* line 189, ../sass/meow-meow.scss */
.footer a:link, .footer a:visited {
  color: #fff;
  text-decoration: underline;
}
/* line 194, ../sass/meow-meow.scss */
.footer .me {
  float: left;
  margin: 0 20px 0 0;
}
/* line 197, ../sass/meow-meow.scss */
.footer .me img {
  display: block;
  border-radius: 40px;
}
/* line 204, ../sass/meow-meow.scss */
.footer h3 {
  color: #fff;
  margin: 20px 0;
}
/* line 209, ../sass/meow-meow.scss */
.footer li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
/* line 215, ../sass/meow-meow.scss */
.footer p {
  font-size: 14px;
  color: #fff;
}
