/*
   /\     /\      Justin Dela Cruz
  {  `---'  }     San Francisco, CA
  {  O   O  }
~~|~   V   ~|~~    < ~nyan~
   \  \|/  /
    `-----'__
    /     \  `^\_
   {       }\ |\_\_   W
   |  \_/  |/ /  \_\_( )
    \__/  /(_E     \__/
      (  /
       MM
*/
/* Global Styles */
/* line 19, ../sass/meow-meow.scss */
body {
  background-color: #fcffff;
}

/* line 23, ../sass/meow-meow.scss */
h1, h2, h3, h4, h5, h6, p, li {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-align: left;
}

/* line 29, ../sass/meow-meow.scss */
ul {
  margin: 0;
  padding: 0;
}
/* line 33, ../sass/meow-meow.scss */
ul li {
  list-style-type: none;
}

/* Specific Styles */
/* line 39, ../sass/meow-meow.scss */
.head {
  max-width: 100rem;
}
/* line 42, ../sass/meow-meow.scss */
.head .large-12 {
  padding: 0;
}
/* line 46, ../sass/meow-meow.scss */
.head img {
  margin-top: -150px;
}
/* line 50, ../sass/meow-meow.scss */
.head .bio {
  padding: 20px;
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
  z-index: 2;
}
/* line 59, ../sass/meow-meow.scss */
.head .bio h1, .head .bio h2 {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 0 10px;
  background-color: rgba(7, 7, 22, 0.9);
}
/* line 67, ../sass/meow-meow.scss */
.head .bio h1 {
  font-size: 48px;
  text-align: center;
  font-weight: 300;
}
/* line 74, ../sass/meow-meow.scss */
.head .bio h2 {
  font-size: 28px;
  font-weight: 100;
}
/* line 80, ../sass/meow-meow.scss */
.head .about {
  background-color: #000;
  max-width: 100rem;
  width: 100%;
  padding: 20px;
}
/* line 86, ../sass/meow-meow.scss */
.head .about .me {
  width: 80px;
  margin: 0 auto;
}
/* line 89, ../sass/meow-meow.scss */
.head .about .me img {
  border-radius: 40px;
}
/* line 94, ../sass/meow-meow.scss */
.head .about p {
  margin: auto 200px;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  color: #ddd;
  font-weight: 300;
}

/* line 107, ../sass/meow-meow.scss */
.row.content p, .row.content li {
  font-size: 15px;
}
/* line 111, ../sass/meow-meow.scss */
.row.content h3 {
  text-align: center;
  font-size: 28px;
  padding: 0 10px;
  text-transform: uppercase;
  margin: 40px 0;
}
/* line 120, ../sass/meow-meow.scss */
.row.content h4 {
  font-size: 18px;
  font-weight: 600;
}
/* line 125, ../sass/meow-meow.scss */
.row.content h5 {
  font-size: 14px;
  text-transform: uppercase;
}

/* line 138, ../sass/meow-meow.scss */
.professional-work {
  text-align: center;
  color: #333333;
  margin-bottom: 40px;
}
/* line 143, ../sass/meow-meow.scss */
.professional-work h4, .professional-work h5, .professional-work p {
  text-align: left;
}
/* line 147, ../sass/meow-meow.scss */
.professional-work > hr {
  margin: 40px 0;
}
/* line 151, ../sass/meow-meow.scss */
.professional-work .desktop-screenshot, .professional-work .mobile-screenshot {
  border: 1px solid #ddd;
}
/* line 155, ../sass/meow-meow.scss */
.professional-work .desktop-screenshot {
  float: left;
}
/* line 159, ../sass/meow-meow.scss */
.professional-work .mobile-screenshot {
  float: right;
}
/* line 163, ../sass/meow-meow.scss */
.professional-work ul.technologies {
  margin-left: 0;
}
/* line 165, ../sass/meow-meow.scss */
.professional-work ul.technologies li {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 13px;
  margin: 5px 5px 5px 0;
  padding: 3px;
}

/* line 177, ../sass/meow-meow.scss */
.footer {
  background-color: #000;
  background-image: url(../images/binding_dark.png);
  color: #fff;
  border-top: 1px solid #999999;
  padding-bottom: 40px;
}
/* line 178, ../sass/meow-meow.scss */
.footer .large-12 {
  padding: 0;
}
/* line 188, ../sass/meow-meow.scss */
.footer a:link, .footer a:visited {
  color: #fff;
  text-decoration: underline;
}
/* line 193, ../sass/meow-meow.scss */
.footer .me img {
  display: block;
  margin: 0 auto;
  border-radius: 40px;
}
/* line 199, ../sass/meow-meow.scss */
.footer h3 {
  color: #fff;
  margin: 20px 0;
}
/* line 204, ../sass/meow-meow.scss */
.footer li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
/* line 210, ../sass/meow-meow.scss */
.footer p {
  font-size: 14px;
}
