html, body {
  font-size: 100%; }

body {
  background: #fcffff;
  color: #333333;
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto; }

ul li {
  list-style-type: none; }

a {
  color: dodgerblue;
  text-decoration: none; }
  a:hover {
    color: red; }

h3 {
  text-align: center;
  font-size: 1.625rem;
  padding: 0 10px;
  text-transform: uppercase;
  margin: 40px 0; }

img {
  max-width: 100%;
  height: auto; }

.hero {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75vh;
  position: relative;
  overflow: hidden; }

.bio {
  position: absolute;
  top: 25%;
  z-index: 2;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box; }
  .bio h1, .bio h2 {
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    margin: 1px 0;
    padding: 0 10px; }
  .bio h1 {
    font-size: 26px;
    text-align: center;
    font-weight: 100;
    text-shadow: 0 0 11px rgba(0, 0, 0, 0.3); }
  .bio h2 {
    font-size: 18px;
    font-weight: 100;
    text-shadow: 0 0 11px rgba(0, 0, 0, 0.3); }

.down-arrow {
  display: block;
  position: absolute;
  z-index: 1029;
  width: 50px;
  height: 50px;
  left: calc(50% - 25px);
  bottom: 20px;
  border: 1px solid white;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  color: white;
  line-height: 52px;
  border-radius: 50%; }
  .down-arrow i {
    width: 100%; }

.about {
  background-color: #FFFFFF;
  color: #000000;
  text-align: right;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 300;
  border-bottom: 1px solid #dadada; }

@media only screen and (min-width: 640px) {
  .hero {
    height: 98vh; }
  .about {
    padding: 60px 0; }
  .bio h1 {
    font-size: 3rem;
    font-weight: 300; }
  .bio h2 {
    font-size: 1.75rem; }
  .about {
    font-size: 36px; } }

.content {
  margin: 10px;
  box-sizing: border-box; }

.portfolio-item:not(:first-child) {
  margin-top: 40px; }

.portfolio-item__title {
  font-size: 18px;
  font-weight: 600; }

.portfolio-item__date {
  font-size: 11px;
  font-weight: 300; }

.portfolio-item__links {
  margin: 0 0 20px;
  padding: 0; }

.portfolio-item__link {
  font-weight: bold; }
  .portfolio-item__link:after {
    content: "\00BB";
    display: inline-block;
    padding: 0 5px; }

.portfolio-item__text {
  font-size: 0.85rem;
  line-height: 1.4rem; }

.portfolio-item__skills {
  margin: 0;
  padding: 0; }

.portfolio-item__skill {
  float: left;
  margin: 0 5px 5px 0;
  padding: 4px 5px;
  border-radius: 5px;
  border: 1px solid #dadada;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 0.8125rem; }

.portfolio-item__images {
  text-align: center; }

@media only screen and (min-width: 1024px) {
  .content {
    width: 1000px;
    margin: 0 auto; }
  .portfolio-item {
    display: flex; }
    .portfolio-item__description {
      width: 30%;
      padding-right: 60px; }
    .portfolio-item__media {
      width: 70%; }
    .portfolio-item__images {
      text-align: right; }
    .portfolio-item__image {
      display: inline-block;
      margin-right: 10px;
      border: 4px solid #dadada;
      border-radius: 10px;
      overflow: hidden; }
  .desktop-screenshot img, .mobile-screenshot img {
    border: 4px solid #dadada;
    border-radius: 10px; } }

.footer {
  background: url(../images/binding_dark.png) #000000;
  border-top: 1px solid #999999; }
  .footer__me {
    background-image: url("../images/oldisthenewnew.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh; }
  .footer__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh; }
    .footer__social a:link, .footer__social a:visited {
      color: #FFFFFF;
      text-decoration: underline; }
    .footer__social a:hover {
      color: dodgerblue; }
    .footer__social ul {
      margin: 0 auto;
      padding: 0;
      display: inline-block; }
    .footer__social li {
      display: inline-block;
      list-style: none; }
      .footer__social li:not(:last-child) {
        margin-right: 10px; }

@media only screen and (min-width: 1024px) {
  .footer {
    display: flex; }
    .footer__me {
      width: 600px;
      height: 600px; }
    .footer__social {
      flex: 1;
      height: 600px; } }
