/*
Error: Undefined variable: "$small-up".
        on line 2 of /Users/justin/Sites/me/scss/meow/content.scss

1: .content {
2:     @media #{$small-up} {
3:         p, li {
4:             font-size: 15px;
5:         }
6: 
7:         li:last-child {

Backtrace:
/Users/justin/Sites/me/scss/meow/content.scss:2
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/script/tree/node.rb:50:in `perform'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/script/tree/interpolation.rb:100:in `_perform'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/script/tree/node.rb:50:in `perform'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:526:in `block in run_interp_no_strip'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:524:in `map'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:524:in `run_interp_no_strip'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:531:in `run_interp'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:499:in `visit_media'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/root_node.rb:20:in `render'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:268:in `render'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:491:in `update_stylesheet'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-1.0.1/lib/compass/sass_compiler.rb:46:in `watch!'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-1.0.1/lib/compass/commands/watch_project.rb:41:in `perform'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-1.0.1/bin/compass:30:in `block in <top (required)>'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-1.0.1/bin/compass:44:in `call'
/Users/justin/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-1.0.1/bin/compass:44:in `<top (required)>'
/Users/justin/.rbenv/versions/2.0.0-p353/bin/compass:23:in `load'
/Users/justin/.rbenv/versions/2.0.0-p353/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$small-up\".\A         on line 2 of /Users/justin/Sites/me/scss/meow/content.scss\A \A 1: .content {\A 2:     @media #{$small-up} {\A 3:         p, li {\A 4:             font-size: 15px;\A 5:         }\A 6: \A 7:         li:last-child {"; }
